<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

			<div id="simple-app">
				<ol>
					<todo-item
						v-for="item in groceryList"
						v-bind:todo="item"
						v-bind:key="item.id"
					></todo-item>
				</ol>

				<div id="debug-div">
					<span v-if="inDebugMode">Debugging Mode</span>
				</div>

				<input v-model="fps" type="range">
								
				<span v-bind:title="message">
					{{ fps }}
				</span>

				<p>{{ message }}</p>
				<button v-on:click="reverseMessage">Reverse Message</button>
			</div>

			<script src="index.js"></script>
    </body>
</html>